# Archivo de credenciales de cloudflare
secrets_tunnel.toml
# Ignorar archivos de logs y bases de datos locales
*.log
*.db
acquire.log
iot_backend.log
sync.log
iot_local.db
__pycache__/

# ngrok config (no exponer token)
/.ngrok2/
