[Unit]
Description=Servicio Cloudflare Tunnel para exponer el backend IoT
After=network.target

[Service]
Type=simple
User=daniel
WorkingDirectory=/home/daniel/repos/iot_streamlit
ExecStart=/usr/local/bin/cloudflared tunnel --url http://localhost:8000 --no-autoupdate
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
